
.six-logos-start{
    grid-row: 2;
    grid-column: 4/7;
    margin-top: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    
}

.six-logos img{
   width: 100%;
}
.six-logos1{
    background-color: aqua;
    height: 100px;
    -webkit-animation: 10s ease 0s normal forwards infinite fadein1;
    animation: 10s ease 0s normal forwards infinite fadein1;
  
} 
@keyframes fadein1{
    0% { opacity:0; }
    20% { opacity:0; }
    50% { opacity:1; }
    95% { opacity:1; }
    100% { opacity:0; }
}

@-webkit-keyframes fadein1{
    0% { opacity:0; }
    20% { opacity:0; }
    50% { opacity:1; }
    95% { opacity:1; }
    100% { opacity:0; }
}
.six-logos2{
    background-color: aqua;
    height: 100px;
    -webkit-animation: 10s ease 0s normal forwards infinite fadein2;
    animation: 10s ease 0s normal forwards infinite fadein2;
  
} 
@keyframes fadein2{
    0% { opacity:0; }
    30% { opacity:0; }
    60% { opacity:1; }
    95% { opacity:1; }
    100% { opacity:0; }
}

@-webkit-keyframes fadein2{
    0% { opacity:0; }
    30% { opacity:0; }
    60% { opacity:1; }
    95% { opacity:1; }
    100% { opacity:0; }
}
.six-logos3{
    background-color: aqua;
    height: 100px;
    -webkit-animation: 10s ease 0s normal forwards infinite fadein3;
    animation: 10s ease 0s normal forwards infinite fadein3;
  
} 
@keyframes fadein3{
    0% { opacity:0; }
    40% { opacity:0; }
    70% { opacity:1; }
    95% { opacity:1; }
    100% { opacity:0; }
}

@-webkit-keyframes fadein3{
    0% { opacity:0; }
    40% { opacity:0; }
    70% { opacity:1; }
    95% { opacity:1; }
    100% { opacity:0; }
}
.six-logos4{
    background-color: aqua;
    height: 100px;
    -webkit-animation: 10s ease 0s normal forwards infinite fadein4;
    animation: 10s ease 0s normal forwards infinite fadein4;
  
} 
@keyframes fadein4{
    0% { opacity:0; }
    50% { opacity:0; }
    75% { opacity:1; }
    95% { opacity:1; }
    100% { opacity:0; }
}

@-webkit-keyframes fadein4{
    0% { opacity:0; }
    50% { opacity:0; }
    75% { opacity:1; }
    95% { opacity:1; }
    100% { opacity:0; }
}
.six-logos5{
    background-color: aqua;
    height: 100px;
    -webkit-animation: 10s ease 0s normal forwards infinite fadein5;
    animation: 10s ease 0s normal forwards infinite fadein5;
  
} 
@keyframes fadein5{
    0% { opacity:0; }
    57% { opacity:0; }
    80% { opacity:1; }
    95% { opacity:1; }
    100% { opacity:0; }
}

@-webkit-keyframes fadein5{
    0% { opacity:0; }
    57% { opacity:0; }
    80% { opacity:1; }
    95% { opacity:1; }
    100% { opacity:0; }
}
.six-logos6{
    background-color: aqua;
    height: 100px;
    -webkit-animation: 10s ease 0s normal forwards infinite fadein6;
    animation: 10s ease 0s normal forwards infinite fadein6;
  
} 
@keyframes fadein6{
    0% { opacity:0; }
    65% { opacity:0; }
    90% { opacity:1; }
    95% { opacity:1; }
    100% { opacity:0; }
}

@-webkit-keyframes fadein6{
    0% { opacity:0; }
    65% { opacity:0; }
    90% { opacity:1; }
    95% { opacity:1; }
    100% { opacity:0; }
}