
.subMenuBox{
    display: flex;
    border-bottom: 1px solid #D8CECE;
    justify-content: space-between;
    padding-bottom: 5px;

}

.subMenuBox h5:nth-child(7){
    flex-grow: 2;  
}
.subMenuBox h5:last-child{
    font-weight: 600;
}
.horizontalTitle{
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    margin: 10px 0;
}
.horizontalText{
    margin: 10px 0;  
}
.menu-item{
    padding-right: 7px;
    font-weight: 300;
}
.menu-item-selected p{
    font-weight: 800;
    padding-right: 7px;
    
}