.balances-card-container{
    box-sizing: border-box;
    background-color: #1e0606;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: -155%;
/*     transition: all 2s cubic-bezier(0.39,1.02,0.68,1); */
    
}
.balances-card-container-bottom{
    box-sizing: border-box;
    background-color: #1e0606;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: -31%;

}
.balances-card-container img{
    width: 90%;
    padding: 8px 8px 0 8px;
}
.balances-card-container-bottom img{
    width: 90%;
    padding: 6px 8px 4px 8px;
}
.number-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    
}
.card-number{
    color: #fff;
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1em;
   
}
.download-icon{
    color: #fff;
    width: 2.5em;
    height:2.5em;
    
}
.number-alone-block{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding: 6px 8px;
    margin-bottom: 2px;

}
.number-alone-container{
    width: 100%;
    height: 100%;
    display: flex;
}
.number-block-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 0 8px;
    margin-bottom: -2%;
}
.number-alone-container-bottom{
    width: 100%;
    height: 100%;
    position: relative;
}
.number-alone-block-bottom{
    padding: 10px 8px 0 8px;
    margin-bottom: 2px;
    margin-top: 0;
}
.horizontal-title-b{
    font-size: 30px;
    color: #fff;
    margin-top: 6px;
}
.horizontal-title-en{
    font-size: 25px;
    color: #fff;
    margin-top: 6px;
}



@media only screen and (min-width: 1023px) and (max-width: 1261px){
    .card-number{
        color: #fff;
        font-size: 1.5em;
        font-weight: 300;
        line-height: 1em;
       
    }
    .download-icon{
        color: #fff;
        width: 1.5em;
        height:1.5em;
        
    }
    .balances-card-container img{
        width: 90%;
        padding: 5px 5px 0 5px;
    }
    .balances-card-container-bottom img{
        width: 90%;
        padding: 5px 5px 0 5px;
    }
   

}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .card-number{
        color: #fff;
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1em;
       
    }
    .download-icon{
        color: #fff;
        width: 1.2em;
        height:1.2em;
        
    }
    .balances-card-container img{
        width: 90%;
        padding: 5px 5px 0 5px;
    }
    .balances-card-container-bottom img{
        width: 90%;
        padding: 5px 5px 0 5px;
    }
    .horizontal-title-b{
        font-size: 20px;
    }
} 