.balance-backgound{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%), url(../../../public/img/Balances.jpg);
    background-size: cover ;
    height: 130vh;
    width: 100%;
}

.balance-grid{
    margin: 0 40px ;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 50px auto;
    column-gap: 30px;
    align-items: flex-start;
    height: fit-content;
    padding-top: 130px;
   
}
.balance-block{ 
    grid-column: 1/4;

}
.sub-menu-balance{
    display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #D8CECE;
   padding-bottom: 5px;
     
}
.items{
    display: flex;
    justify-content: left;
    font-family: 'Sora', sans-serif;
}
.items a{
    text-decoration: none;
}
.item-balance{
    margin: 0;
    font-family: 'Sora', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    border-right: 1.5px solid #D8CECE;
    padding-right: 8px;
    margin-right: 8px;
    
}
.item{
    font-family: 'Sora', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 400; 
}

.home-link h5{
    font-family: 'Sora', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    align-items: flex-end;
    text-decoration: none;
}
.card-balance-box{
    margin: 0 40px ;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    align-items: flex-start;
    height: fit-content;
    padding-top: 250px;
  
}


@media only screen and (min-width: 1440px){
    .balance-grid{
        margin: 0 320px ;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .card-balance-box{
        column-gap: 12px;
        padding-top: 180px;
    }
    .balance-block{ 
        grid-column: 1/5;
    
    }
    
}