

.us-backgound{
    background: linear-gradient(105.33deg, rgba(0, 0, 0, 0.65) 10.83%, rgba(0, 0, 0, 0) 81.77%), url(../../../public/img/Empresa.png);
    background-size: cover ;
    height: 97vh;
    width: 100vw;
  
}

.grid{
    position: absolute;
    margin-top: 30%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 30px;
    padding: 20px 40px 0 40px;

}
.us-block{ 
    grid-column: 2/5;
    
}
.staffBackgound{
    background-color: #1E0606;
    
}
.staffHero{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 30px;
    padding: 60px 40px 0 40px;
    grid-column-start: 2;

}
.staffBlock{
    grid-column: 2/5;

}

.video-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 30px;
    padding: 20px 40px 0 40px;
    height: 300px;
}
.card-box{ 
    grid-column: 2/7;  
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;

}
.group-photo{
    width: 100vw;
    margin: 60px 0;
}
.work-button{
    display: flex;
    padding: 0px 0 60px 0;
    justify-content: center;
}
