
.usContainer{
    position: absolute;
    margin: 0;
    width: 100vw;
    height: 200vh;

}
.usBackgound{
    background: linear-gradient(105.33deg, rgba(0, 0, 0, 0.65) 10.83%, rgba(0, 0, 0, 0) 81.77%), url(../../../public/img/Empresa.png);
    background-size: cover ;
    height: 97vh;
    width: 100vw;
    margin: 0;
  
}

.usHero{
    position: absolute;
    margin-top: 30%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 30px;
    padding: 20px 40px 0 40px;

}
.usBlock{ 
    grid-column: 2/5;
    
}
.staffBackground{
    
    background-color: #1E0606;
    position: relative;
    margin-top: 97%;
}