.dark-button{
    margin-right: 20px;
    background: rgba(0, 0, 0, 0.3);
    border: 1.5px solid #fff;
    box-shadow: 3px 3px 4px 3px #00000026;
    border-radius: 24px;
    width: 186px;
    height: 44px;
    font-family: 'Sora', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
   

}
.dark-button:hover{
    background: rgba(255, 255, 255, 0.4);
    font-weight: 800;
    color: #9B2743;
    border: 1.5px solid #9B2743;
    
}

.light-button{
    margin-right: 20px;
    background: rgba(217, 217, 217, 0.3);
    border: 1.5px solid #9B2743;
    box-shadow: 3px 3px 4px 3px #00000026;
    border-radius: 24px;
    width: 186px;
    height: 44px;
    font-family: 'Sora', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #9B2743;
}
.light-button:hover{
    background: #9B2743;
    font-weight: 800;
    color: #fff;
    border: 1.5px solid #D8CECE;
}