.dark-button{
    margin-right: 20px;
    background: rgba(0, 0, 0, 0.3);
    border: 1.5px solid #fff;
    box-shadow: 3px 3px 4px 3px #00000026;
    border-radius: 24px;
    width: 170px;
    height: 40px;
    font-family: 'Sora', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
   

}
.dark-button:hover{
    background: rgba(255, 255, 255, 0.4);
    font-weight: 800;
    color: #9B2743;
    border: 1.5px solid #9B2743;
    
}

.light-button{
    margin-right: 20px;
    background: rgba(217, 217, 217, 0.3);
    border: 1.5px solid #9B2743;
    box-shadow: 3px 3px 4px 3px #00000026;
    border-radius: 24px;
    width: 170px;
    height: 40px;
    font-family: 'Sora', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #9B2743;
}
.light-button:hover{
    background: #9B2743;
    font-weight: 800;
    color: #fff;
    border: 1.5px solid #D8CECE;
}

.school-button{
    margin-right: 20px;
    background: rgba(217, 217, 217, 0.3);
    border: 1.5px solid #1E0606;
    box-shadow: 3px 3px 4px 3px #00000026;
    border-radius: 24px;
    width: 170px;
    height: 40px;
    font-family: 'Sora', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #1E0606;
}

.school-button:hover{
    background: rgba(255, 255, 255, 0.3);
    font-weight: 800;
    color: #9B2743;
    border: 1.5px solid #9B2743;
}
.inscription-button{
    background: rgba(217, 217, 217, 0.3);
    border: 1.5px solid #1E0606;
    box-shadow: 3px 3px 4px 3px #00000026;
    border-radius: 24px;
    width: 170px;
    height: 40px;
    font-family: 'Sora', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #1E0606;
}
.inscription-button:hover{
    background: rgba(255, 255, 255, 0.3);
    font-weight: 800;
    color: #9B2743;
    border: 1.5px solid #9B2743;
}
.contact-dark-button{
    
    background: rgba(0, 0, 0, 0.3);
    border: 1.5px solid #fff;
    box-shadow: 3px 3px 4px 3px #00000026;
    border-radius: 24px;
    width: 170px;
    height: 40px;
    font-family: 'Sora', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
   

}
.contact-dark-button:hover{
    background: rgba(255, 255, 255, 0.6);
    font-weight: 800;
    color: #9B2743;
    border: 1.5px solid #9B2743; 
}
.contact-dark-button:disabled{
    background: rgba(255, 255, 255, 0.4);
    font-weight: 800;
    color: #d8cece;
    border: 1.5px solid #d8cece; 
}
.small-button{
    background: rgba(0, 0, 0, 0.3);
    border: 1.5px solid #fff;
    box-shadow: 3px 3px 4px 3px #00000026;
    border-radius: 16px;
    width: 170px;
    height: 30px;
    font-family: 'Sora', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #fff;

}
.rent-button{
    background: rgba(217, 217, 217, 0.3);
    border: 1.5px solid #9B2743;
    box-shadow: 3px 3px 4px 3px #00000026;
    border-radius: 24px;
    width: 170px;
    height: 40px;
    font-family: 'Sora', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #9B2743;
}
.rent-button:hover{
    background: #9B2743;
    font-weight: 800;
    color: #fff;
    border: 1.5px solid #D8CECE;
}

.rent-button-secondary{
    background: rgba(217, 217, 217, 0.3);
    border: 1.5px solid  rgba(255, 255, 255, 0.7);
    box-shadow: 3px 3px 4px 3px #00000026;
    border-radius: 24px;
    width: 170px;
    height: 40px;
    font-family: 'Sora', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
}
.rent-button-secondary:hover{
    background:  rgba(217, 217, 217, 0.3);
    font-weight: 800;
    color: #fff;
    border: 1.5px solid #fff;
}