
.homeBackgound{
    background-size: cover;
    height: 97vh;
    width: 100;
    
}
.home-video{ 
    object-fit: cover;
    height: 97vh;
    width: 100vw;
}
.hero{
    box-sizing: border-box;
    position: absolute;
    margin-top: 20%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 30px;
    padding: 20px 40px 0 40px;
    width: 100vw;
    animation:8s ease 0s normal forwards 1 fadein;
    -webkit-animation:8s ease 0s normal forwards 1 fadein;
    opacity:1

}
@keyframes fadein{
    0%{opacity:0}
    80%{opacity:0}
    100%{opacity:1}
}

@-webkit-keyframes fadein{
    0%{opacity:0}
    80%{opacity:0}
    100%{opacity:1}
}
.gradient{ 
    background: linear-gradient(90deg, rgba(30, 29, 29, 0.5 ), rgba(253, 248, 248, 0)); 
    width: 100%;
    height: 97vh;
    position: absolute;
    margin-top: -98vh;
}
.homeTitle{
    grid-column: 2/7;
}
@media (max-width: 1024px) {
    .homeTitle{
        padding-left: 5%;
    }
    h1{
       font-size: 4em; 
    }
}
@media (max-width: 768px) {
    .homeTitle{
        padding-left: 0;
        margin-top: 10%;
    }
    h1{
        font-size: 3.5em; 
     }
  
}
@media only screen and (min-width: 340px) and (max-width: 768px){
  
        .homeTitle{
            grid-column: 1/8;
            padding-left: 0;
            margin-top: 0px;
        }
        h1{
            font-size: 3.8em; 
         }
         .hero{
            margin-top: 270px;
         }
         .mobile-button-box{
            grid-column: 2/7;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            row-gap: 10px

         }

}