.headerBox{
    z-index: 100;
    position: absolute;
    width: 100vw;
  
}
.headerIn{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 30px;
    padding: 10px 40px 0 40px;
    align-items: center;
    justify-content: left;
   
}
.logoAfz{
    width: 100%;
    margin: 0;
    grid-column: 1;
}
.headerMenu{
    background-color: #9B2743;
    border-radius: 16px;
    width: 100%;
    margin-top: 15px;
    grid-column: 2/8;
    display: flex;
    justify-content: space-between;
    height: 30px;
    column-gap: 3em;
}
.headerItem{
    margin: 4px;
    padding: 1px 10px 0;
}
.headerItem:nth-child(4){
    flex-grow: 2;
    
}
.headerItem:last-child{
    font-family: 'Sora', sans-serif;
    color: #fff;
    font-weight: 700;
  
}
.headerCategory{
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-size: 14.5px;
    display: inline-block;
    position: relative;
    margin-bottom: 3px;
    margin-top: 3px;
   
}
.headerCategory:visited{
    color: #B7B6B6;
}
.headerCategory::after{
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    color: #B7B6B6;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -5px;
    left:0;
    background-color:#fff; 
    transform-origin: right;
    transition: transform 0.25s ease-out;
}
.headerCategory:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.headerCategory:hover{
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    color: #fff;
}
.headerCategorySelected{
    display: inline-block;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 14.5px;
    color: #fff;
    border-bottom: 3px solid #fff;
    margin-bottom: 3px;
    margin-top: 3px;
    padding-bottom: 2px;  
}
@media (max-width: 1064px) {
   h4{
       font-size: 14px;
    }
    .headerMenu{
        column-gap: 2em;
    }
    .logoAfz{
        width: 14vw;
    }
   
  }
@media (max-width: 1000px) {
    h4{
        font-size: 12px;
     }
     .headerIn{
       flex-direction: column;
       align-items:flex-start;
     }
    
   }