/* $dls-small-breakpoint-start: 0px;
$dls-small-breakpoint-end: 767px;
$dls-medium-breakpoint-start: 768px;
$dls-medium-breakpoint-end: 1023px;
$dls-large-breakpoint-start: 1024px; */


/* 

@media only screen and (min-width: 1440px){
    

}
@media only screen and (min-width: 1023px) and (max-width: 1261px){
   

}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    
   
} */