.footerBox{
    background-color: #9B2743;
    width: 100vw;
    height: 370px;

}
.footerIn{
    padding: 20px 0;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin: 0 40px 0;
}
.logoAfz{
    width: 11vw;
    padding: 0 40px 0 0;
    margin: 0;

}
.footerMenu{
    display: flex;
    flex-direction: column;
    padding: 15px 0;

}
.footerItem{
    padding-bottom: 10px;
    border-bottom: 1px solid #b7b6b6 ;
}
.footerItem:last-child{
    border-bottom: none ;
}
.footerCategory{
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 14.5px;
    display: inline-block;
    position: relative;
    color: #B7B6B6;
    margin-bottom: 5px;
    margin-top: 18px;
}
