.footerBox{
    background-color: #9B2743;
    width: 100vw;
    height: 370px; 
}
.footer-in{
    padding: 20px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 40px 0;
    column-gap: 1em;
}
.footer-in img{
    width: 10%;
    padding: 0 40px 0 0;
    margin: 0;

}
.footerMenu{
    display: flex;
    flex-direction: column;
    padding: 13px 0;

}
.footerItem{
    padding-bottom: 10px;
    border-bottom: 1px solid #b7b6b6 ;
}
.footerItem:last-child{
    border-bottom: none ;
}
.footerCategory{
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
    margin-top: 18px;
}
.footerCategory:hover{
    font-weight: 700;
    color: #fff;
}
.contactBox{
    font-family: 'Sora', sans-serif;
    color: #fff;
    flex-grow: 3;
    padding: 0 0 0 30em;
    align-self: flex-end;
}
.contactBox p{
    margin: 0
}
.footerEmail{
    font-weight: 800;
}
.iconCircle{
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #9B2743;
    padding: auto;
    
}
.socialIcon{
    width: 28px;
    height: 28px;
    padding: 6px 0 0 6px;
   
}
.socialIconBig{
    width: 30px;
    height: 30px;
    padding: 5px 0 0 5px;
   
}
.socialBox{
    margin: 20px 0 30px 0;
    display: flex;
    column-gap: 30px;

}
/* @media (max-width: 1024px){
    .contactBox{
        padding: 0 0 0 20%;
    }

} */
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .contactBox{
        padding: 0 0 0 20%;
    }
    .footer-in img{
        width: 18%;
        margin-top: 12px;
        padding: 0 20px 0 0;
    }

}
@media only screen and (min-width: 1023px) and (max-width: 1261px){
    .contactBox{
        padding-left: 300px;

    }
}
